# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
*.md
HISTORY.txt

# misc
/bin/
lib/junit-platform-console-standalone-1.9.1.jar
#/example_settings/
/misc/generated_configs/
reports/**
movement_models/
